# Render.yaml
services:
  - type: web
    name: chat-app-backend
    env: node
    buildCommand: cd server && npm install
    startCommand: cd server && node server.js
    healthCheckPath: /
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NODE_ENV
        value: production